* { box-sizing: border-box; }
html { font-size: 24px; }

/* Reset some things */
ul { list-style-type: none; margin: 0; padding: 0; }
button { font-size: inherit; }

/* Background */
body { background: #000000; font-family: sans-serif; margin: 0; padding: 0; background-size: 100%; background-repeat: no-repeat;  }
#appplace { border: 1px transparent dashed; overflow: hidden; margin: 4%; transition: border-color 10s; }
#appplace.visible { border-color: yellow; transition: none; }

/* Typography */
h1 { font-size: 2em; font-weight: bold; margin-top: 0.5em; margin-bottom: 0.25em; }
h2 { font-size: 1.5em; font-weight: bold; margin-top: 0.5em; margin-bottom: 0.25em; }
h3 { font-size: 1.17em; font-weight: bold; margin-top: 0.5em; margin-bottom: 0.25em; }
p { margin-top: 0; margin-bottom: 1em; }

/* System fonts */
@font-face { font-family: 'Droid Sans'; src: url('../_YOUR_FILES_/font/Droid_Sans/DroidSans.ttf'); }
@font-face { font-family: 'Oswald'; src: url('../_YOUR_FILES_/font/Droid_Sans/DroidSans-Bold.ttf'); font-weight: bold; }
body.droid-sans { font-family: 'Droid Sans', sans-serif; }

@font-face { font-family: 'Droid Serif'; src: url('../_YOUR_FILES_/font/Droid_Serif/DroidSerif.ttf'); }
@font-face { font-family: 'Droid Serif'; src: url('../_YOUR_FILES_/font/Droid_Serif/DroidSerif-Bold.ttf'); fo {}nt-weight: bold; }
@font-face { font-family: 'Droid Serif'; src: url('../_YOUR_FILES_/font/Droid_Serif/DroidSerif-Italic.ttf'); font-style: italic; }
@font-face { font-family: 'Droid Serif'; src: url('../_YOUR_FILES_/font/Droid_Serif/DroidSerif-BoldItalic.ttf'); font-weight: bold; font-style: italic; }
body.droid-serif { font-family: 'Droid Serif', serif; }

@font-face { font-family: 'Open Sans'; src: url('../_YOUR_FILES_/font/Open_Sans/OpenSans-Regular.ttf'); }
@font-face { font-family: 'Open Sans'; src: url('../_YOUR_FILES_/font/Open_Sans/OpenSans-Bold.ttf'); font-weight: bold; }
@font-face { font-family: 'Open Sans'; src: url('../_YOUR_FILES_/font/Open_Sans/OpenSans-Italic.ttf'); font-style: italic; }
@font-face { font-family: 'Open Sans'; src: url('../_YOUR_FILES_/font/Open_Sans/OpenSans-BoldItalic.ttf'); font-weight: bold; font-style: italic; }
body.open-sans { font-family: 'Open Sans', sans-serif; }

@font-face { font-family: 'Oswald'; src: url('../_YOUR_FILES_/font/Oswald/Oswald-Regular.ttf'); }
@font-face { font-family: 'Oswald'; src: url('../_YOUR_FILES_/font/Oswald/Oswald-Bold.ttf'); font-weight: bold; }
body.oswald { font-family: 'Oswald', sans-serif; }

@font-face { font-family: 'Raleway'; src: url('../_YOUR_FILES_/font/Raleway/Raleway-Regular.ttf'); }
@font-face { font-family: 'Raleway'; src: url('../_YOUR_FILES_/font/Raleway/Raleway-Bold.ttf'); font-weight: bold; }
body.raleway { font-family: 'Raleway', sans-serif; }

@font-face { font-family: 'Montserrat'; src: url('../_YOUR_FILES_/font/Montserrat/Montserrat-Regular.ttf'); }
@font-face { font-family: 'Montserrat'; src: url('../_YOUR_FILES_/font/Montserrat/Montserrat-Bold.ttf'); font-weight: bold; }
body.montserrat { font-family: 'Montserrat', sans-serif; }




/* Button */
.bl, .bs {
    border: 1px solid #444; padding: 6px; cursor: pointer; display: inline-block;
    margin: 4px 10px; background-color: rgba(255, 255, 255, 0.15);
}
.bl { border-radius: 4px; }
.bs { font-size: 10px; }
.bl:hover, .bs:hover { box-shadow: 0 0 1em rgba(255, 255, 255, 0.5); }


.bh {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

}
.bh.visible {
    opacity: 0.3;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.buttonBox { margin-top: 1em; }
.buttonBox > div:first-child { margin-left: 0; }


/* Input */
input, textarea {
    border: 1px solid black; padding: 0.5em; cursor: pointer; display: inline-block;
    margin: 4px 10px; background-color: rgba(192, 192, 128, 0.25);
    font-size: 1em;
}
select {
    border: 1px solid black; padding: 0.5em; cursor: pointer; display: inline-block;
    margin: 4px 10px; font-size: 1em; background-color: rgba(192, 192, 128, 0.25);
}


.modeNormal { display: block; }
.modeEdit { display: none; }



/* Icons */
@font-face {
	font-family: 'icomoon';
	src:url('../icomoon/icomoon.eot?jxw5fo');
	src:url('../icomoon/icomoon.eot?#iefixjxw5fo') format('embedded-opentype'),
		url('../icomoon/icomoon.woff?jxw5fo') format('woff'),
		url('../icomoon/icomoon.ttf?jxw5fo') format('truetype'),
		url('../icomoon/icomoon.svg?jxw5fo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Button Icon */
.bi { font-size: 0.75em; }
.bi:before {
    font-family: 'icomoon'; content: 'a';
	font-size: 3em; display: block; text-align: center; margin-bottom: 0.2em;

    speak: none; font-style: normal; font-weight: normal; font-variant: normal;	text-transform: none;
    line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

.bi.changeScreen[data-screen="start"]:before { content: 'h'; }
.bi.changeScreen[data-screen="designConf"]:before { content: 'D'; }
.bi.changeScreen[data-screen="contest"]:before { content: 'c'; }
.bi.changeScreen[data-screen="contestConf"]:before { content: 'C'; }
.bi.changeScreen[data-screen="slammerConf"]:before { content: 'S'; }
.bi.changeScreen[data-screen="pause"]:before { content: 'b'; }
.bi.changeScreen[data-screen="group"]:before { content: 'r'; }

.bi.deleteContest:before,
.bi.clearAllData:before { content: 'm'; }
.bi.addGroup:before { content: 'p'; }
.bi.sortSlammer:before { content: 'o'; }
.bi.showSlammerDropdown:before { content: 'M'; }

.bi.saveToFile:before,
.bi.readFromFile:before { content: 'd'; }

/* Title Icons */
.icon { font-family: 'icomoon'; font-size: 1.5em; margin-right: 0.5em; font-weight: normal; }
.icon-home:before { content: 'h'; }
.icon-contestConf:before { content: 'C'; }
.icon-slammerConf:before { content: 'S'; }
.icon-designConf:before { content: 'D'; }


.contestContainer { overflow: hidden; }
.contestContainer .rnd { float: left; width: 10%; }
.contestContainer .rnd .inner { border-right: 1px solid rgba(255, 136, 68, 0.3); padding-right: 20px; margin-left: 20px; }
.contestContainer .rnd:first-child .inner { margin-left: 0; }
.contestContainer .rnd:last-child .inner { border-right: none; padding-right: 0; }
.contestContainer.numOfRnds-1 .rnd { width: 100%; }
.contestContainer.numOfRnds-2 .rnd { width: 50%; }
.contestContainer.numOfRnds-3 .rnd { width: 33.333%; }
.contestContainer.numOfRnds-4 .rnd { width: 25%; }
.contestContainer.numOfRnds-5 .rnd { width: 20%; }
.contestContainer.numOfRnds-6 .rnd { width: 16.666%; }
.contestContainer.numOfRnds-7 .rnd { width: 14.285%; }
.contestContainer.numOfRnds-8 .rnd { width: 12.5%; }
.contestContainer.numOfRnds-9 .rnd { width: 11.111%; }

.contestContainer .rnd .group { border: 1px solid #f84; margin-bottom: 10px; padding: 10px; cursor: pointer; }
.contestContainer .rnd .group ul { display: table; table-layout: fixed; width: 100%; }
.contestContainer .rnd .group ul li { display: table-row; }
.contestContainer .rnd .group ul li span { display: table-cell; font-size: 1.25em; line-height: 1.75em; }
.contestContainer .rnd .group ul li span:first-child { padding-right: 8px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 75%; }
.contestContainer .rnd .group ul li span:last-child { width: 25%; }






/* Overlay */
#overlay { border: 6px solid green; width: 80%; position: fixed; top: 10%; left: 10%; background: #111; padding: 10px; }


/* SSB Logo */
#ssbLogo { position: absolute; top: 4px; right: 4px; width: 100px;  }