* { box-sizing: border-box; }

/* Reset some things */
ul { list-style-type: none; margin: 0; padding: 0; }

/* Button */
.bl {
    border: 1px solid black; padding: 6px; cursor: pointer; display: inline-block;
    margin: 4px 10px; background-color: rgba(0, 0, 0, 0.2);
}
.bs {
    border: 1px solid black; padding: 6px; cursor: pointer; display: inline-block; font-size: 10px;
    margin: 4px 10px; background-color: rgba(0, 0, 0, 0.4);
}
.bh {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

}
.bh.visible {
    opacity: 0.2;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}


/* Input */
input {
    border: 1px solid black; padding: 6px; cursor: pointer; display: inline-block;
    margin: 4px 10px; background-color: rgba(0, 0, 0, 0.2);
    font-size: 1em;
}
select {
    border: 1px solid black; padding: 6px; cursor: pointer; display: inline-block;
    margin: 4px 10px; font-size: 1em;
}


.modeNormal { display: block; }
.modeEdit { display: none; }

.contestSelect li { cursor: pointer; }


/* Icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?jxw5fo');
	src:url('../fonts/icomoon.eot?#iefixjxw5fo') format('embedded-opentype'),
		url('../fonts/icomoon.woff?jxw5fo') format('woff'),
		url('../fonts/icomoon.ttf?jxw5fo') format('truetype'),
		url('../fonts/icomoon.svg?jxw5fo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

icon-home:before {
	content: "\68";
}

.icon-megaphone:before {
	content: "\6d";
}

.icon-arrow-right:before {
	content: "\72";
}

.bl.changeScreen:before {
    font-family: 'icomoon';
	content: "\72";
    margin-right: 10px;
}

.saveToFile:before,
.readFromFile:before {
    font-family: 'icomoon';
	content: "d";
    margin-right: 10px;
}



.contestContainer { margin: 10px; overflow: hidden; }
.contestContainer .rnd { float: left; width: 10%; }
.contestContainer .rnd .inner { margin-left: 10px; border: 1px solid #f84; padding: 10px; }
.contestContainer .rnd:first-child .inner { margin-left: 0; }
.contestContainer.numOfRnds-1 .rnd { width: 100%; }
.contestContainer.numOfRnds-2 .rnd { width: 50%; }
.contestContainer.numOfRnds-3 .rnd { width: 33.333%; }
.contestContainer.numOfRnds-4 .rnd { width: 25%; }
.contestContainer.numOfRnds-5 .rnd { width: 20%; }
.contestContainer.numOfRnds-6 .rnd { width: 16.666%; }
.contestContainer.numOfRnds-7 .rnd { width: 14.285%; }
.contestContainer.numOfRnds-8 .rnd { width: 12.5%; }
.contestContainer.numOfRnds-9 .rnd { width: 11.111%; }

.contestContainer .rnd .group { border: 1px solid #f84; margin-bottom: 10px; padding: 10px; cursor: pointer; }
.contestContainer .rnd .group ul { display: table; }
.contestContainer .rnd .group ul li { display: table-row; }
.contestContainer .rnd .group ul li span { display: table-cell; line-height: 1.5em; }
.contestContainer .rnd .group ul li span:first-child { padding-right: 8px; }


ul.groupList { margin: 0 10px; border-top: 1px solid #f84; font-size: 24px; }
ul.groupList li { overflow: hidden; border-bottom: 1px solid #f84; padding: 8px 0; }
ul.groupList li .name { float: left; width: 16%; margin-top: 12px; }
ul.groupList li .grades { float: left; width: 84%; }

ul.groupList li .grades input {
    font-size: 125%; line-height: 1em;
    background-color: rgba(0, 0, 0, 0.1); border: none; text-align: center; padding: 6px 8px;
    width: 60px;
}
ul.groupList li .grades input.total { border: 1px solid #f84; width: 80px; }
ul.groupList li .grades input.minDropGrade { background-color: rgba(128, 0, 0, 0.3); opacity: 0.4; }
ul.groupList li .grades input.maxDropGrade { background-color: rgba(0, 128, 0, 0.3); opacity: 0.4; }
ul.groupList li .unassignSlammerButton { display: none; }


.pause {}
.pause h1 { font-size: 400%; text-align: center; }
.pause .sponsor-container { overflow: hidden; width: 100%; }
.pause .sponsors { position: relative; }
.pause .sponsors li { float: left; text-align: center; }
.pause .sponsors li img { max-width: 75%; max-height: 50%;  }