.template-designConf .inputlist li { overflow: hidden; margin-bottom: 0.5em; }
.template-designConf .inputlist li label { width: 20%; float: left; }

.template-designConf input,
.template-designConf select,
.template-designConf textarea { width: 400px; margin: 0; }

.template-designConf .marginBox input { width: 80px; margin-right: 8px; }

.template-designConf .desc { font-style: italic; font-size: 0.875em; margin-left: 20%; }
