<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf8">
    <title>SlamScoreBoard</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <div id="appplace">
    </div>


    <script type="text/template" id="tmpl-contest">
        <div class="insertNewContest bl">Neuen Wettbewerb erfassen</div>
        <ul class="contests">
        </ul>
    </script>


    <script type="text/template" id="tmpl-contest-item">
        <li>
            <%= name %> (<%= nextDateTime %>, <%= numOfJudges %> Juroren)
            <span class="contestEdit bl">Kerndaten bearbeiten</span>
            <span class="contestStart bl">Weiter im Programm</span>
        </li>
    </script>


    <script type="text/template" id="tmpl-contest-edit">
        <div>
            <div>
                <label>Name</label>
                <input type="text" class="contestName" value="<%= name %>" />
            </div>
            <div>
                <label>Nächste Vorführung</label>
                <input type="text" class="contestNextDateTime" value="<%= nextDateTime %>" />
            </div>
            <div>
                <label>Anzahl Juroren</label>
                <input type="text" class="contestNumOfJudges" value="<%= numOfJudges %>" />
            </div>
            <div>
                <label>Schlechteste Note</label>
                <input type="text" class="contestMinGrade" value="<%= minGrade %>" />
            </div>
            <div>
                <label>Beste Note</label>
                <input type="text" class="contestMaxGrade" value="<%= maxGrade %>" />
            </div>
            <div>
                <label>Notenschritt</label>
                <input type="text" class="contestGradeSteps" value="<%= gradeSteps %>" />
            </div>
            <div>
                <div class="submit bl">Speichern</div>
            </div>
        </div>
        <div class="contestDontSave bl">Zurück ohne zu Speichern</div>
        <div class="contestRemove bl">Diesen Wettbewerb für immer und ewig löschen</div>
    </script>


    <script type="text/template" id="tmpl-slammer-list">
        <ul class="slammer-list"></ul>
        <label>Slammer</label>
        <input type="text" name="slammerName" />
        <input type="button" value="insert" />
        <div class="contestScreen">To the contest screen</div>
    </script>


    <script type="text/template" id="tmpl-slammer-item">
        <div class="modeNormal">
            <span><%= name %></span>
        </div>
        <div class="modeEdit">
            <input type="text" class="slammerName" value="<%= name %>" />
        </div>
        <% for (var i = 0; i < numOfJudges; i++) { %>
        <input type="text" class="grade slammerGrade" name="slammerGrade[<%= i %>]" data-judgeIndex="<%= i %>" value="<%= grades[i] %>" />
        <% } %>
        <input type="text" class="grade slammerGradeTotal" value="<%= (calcGrade ? calcGrade : '') %>" readonly />
        <span class="delete">X</span>
        <span class="showBig">big</span>
    </script>



    <script type="text/template" id="tmpl-slammer-big">
        <h1><%= name %></h1>
        <div class="retour">Retour</div>
    </script>




    <!-- Libs -->
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="js/libs/backboneLocalStorage.js"></script>
    <script src="js/libs/backbone-relational.js"></script>
    <script src="js/libs/json2.js"></script>

    <!-- Models -->
    <script src="js/models/slammer.js"></script>
    <script src="js/models/contest.js"></script>

    <!-- Collections -->
    <script src="js/collections/slammers.js"></script>
    <script src="js/collections/contests.js"></script>

    <!-- Views -->
    <script src="js/views/contest-view.js"></script>
    <script src="js/views/contest-item-view.js"></script>
    <script src="js/views/contest-edit-view.js"></script>
    <script src="js/views/slammer-setup-view.js"></script>
    <script src="js/views/slammer-big-view.js"></script>
    <script src="js/views/slammer-item-view.js"></script>

    <!-- Routers -->
    <script src="js/routers/router.js"></script>

    <!-- App -->
    <script src="js/app.js"></script>

</body>
</html>
